<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402475127054-ko3im4rr2tp184l9p3sgc70j75t9qmdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402475127054-ko3im4rr2tp184l9p3sgc70j75t9qmdb</string>
	<key>API_KEY</key>
	<string>AIzaSyAnuhzAlx8hLeoccAxQnGmjTQBNHHcw0zs</string>
	<key>GCM_SENDER_ID</key>
	<string>402475127054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.smartHome</string>
	<key>PROJECT_ID</key>
	<string>ns-smart-home</string>
	<key>STORAGE_BUCKET</key>
	<string>ns-smart-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402475127054:ios:32dad56443b3ad933e475f</string>
	<key>DATABASE_URL</key>
	<string>https://ns-smart-home-default-rtdb.firebaseio.com</string>
</dict>
</plist>